@charset "UTF-8";

.user-slide {
	display: flex;
}

.user-img {
	flex: 1;
}

.user-review {
	flex: 3;
}

.user-actions {
	flex: 1;
}

.user-actions FORM {
	display: inline;
}

.btn-space {
	margin-right: 5px;
}
/*----------------------------------------------------*/
//
---------
 
Start Banner Area ------------- //
.banner-area {
	background: color: 23121;
	background-size: cover; . primary-btn { padding-left : 30px;
	padding-right: 30px;
}

.overlay-bg {
	background-color: rgba(#000, .5s)
}

}
.banner-content {
	text-align: center; h1 { color : #fff;
	font-size: 60px;
	font-weight: 700;
	line-height: 1em;
	margin-top: 20px;
	span
	{
	font-weight
	:
	700;
}

@media ( max-width :414px) {
	font-size
	:
	 
	40px
	;
	
        
}

}
h4 {
	font-weight: 400;
	letter-spacing: 3px;
}

}
//
---------
 
End
 
Banner
 
Area
 
-------------
